/* Ubuntu Light */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    src: url('ubuntu-l-webfont.woff2') format('woff2'),
         url('ubuntu-l-webfont.woff') format('woff');
}

/* Ubuntu Light Italic */
@font-face {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 300;
    src: url('ubuntu-li-webfont.woff2') format('woff2'),
         url('ubuntu-li-webfont.woff') format('woff');
}

/* Ubuntu Regular */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: url('ubuntu-r-webfont.woff2') format('woff2'),
         url('ubuntu-r-webfont.woff') format('woff');
}

/* Ubuntu Italic */
@font-face {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 400;
    src: url('ubuntu-ri-webfont.woff2') format('woff2'),
         url('ubuntu-ri-webfont.woff') format('woff');
}

/* Ubuntu Medium */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    src: url('ubuntu-m-webfont.woff2') format('woff2'),
         url('ubuntu-m-webfont.woff') format('woff');
}

/* Ubuntu Medium Italic */
@font-face {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 500;
    src: url('ubuntu-mi-webfont.woff2') format('woff2'),
         url('ubuntu-mi-webfont.woff') format('woff');
}

/* Ubuntu Bold */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    src: url('ubuntu-b-webfont.woff2') format('woff2'),
         url('ubuntu-b-webfont.woff') format('woff');
}

/* Ubuntu Bold Italic */
@font-face {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 700;
    src: url('ubuntu-bi-webfont.woff2') format('woff2'),
         url('ubuntu-bi-webfont.woff') format('woff');
}

/* Ubuntu Condensed */
@font-face {
    font-family: 'Ubuntu Condensed';
    font-style: normal;
    font-weight: 400;
    src: url('ubuntu-c-webfont.woff2') format('woff2'),
         url('ubuntu-c-webfont.woff') format('woff');
}